spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/aquarium_store
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
